<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>这是我的第一个界面</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="progress">
            <div id="pro" class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">40% 完成</span>
            </div>
        </div>
    </div>
    <div class="col-md-2"><p id="ts"></p></div>
</div>

</body>
<script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!--<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>-->
<script>
    var ws = new WebSocket("ws://192.168.226.129:9000/test");
    ws.onopen = function () {
        ws.send("Hello,World");
    };
    ws.onmessage = function (evt) {
        $("#pro").css("width", evt.data * 10 + "%");
        $("#ts").text("");
        $("#ts").append((evt.data * 10).toString()+"%")
        //alert(evt.data);
    };
</script>
</html>