<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <title>愿望清单</title>
</head>
<body>
<div class="sui-navbar">
    <div class="navbar-inner"><a href="#" class="sui-brand">礼品屋</a>
        <ul class="sui-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">组件</a></li>
            <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">其他 <i
                    class="caret"></i></a>
                <ul role="menu" class="sui-dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="/html/v1/test/?token={{token}}">游戏</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">项目组成员</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">版权</a></li>
                </ul>
            </li>
        </ul>
        <ul class="sui-nav pull-right">
            <li><a href="#">个人中心</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
</div>
<div class="grid-demo">
    <div class="sui-row">
        <div class="span12">
        </div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span5"></div>
        <div class="span6">
            <form class="sui-form form-inline">
                <div class="input-append">
                    <input id="appendedInputButton" type="text" class="span2">
                    <button type="button" class="sui-btn">查找</button>
                </div>
            </form>
        </div>
        <div class="span1">
            <a href="javascript:void(0);" class="sui-btn btn-info">高级查询</a>
        </div>
    </div>
    <div class="sui-row">
        <div class="span5"></div>
        <div class="span7">
            <table class="sui-table table-zebra">
                <thead>
                <tr>
                    <th>礼物名称</th>
                    <th>上传时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>欧莱雅男士控油炭爽抗黑头洁面套</td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>尊蓝男士洁面面膜套装（拉丝洗面奶120ml+去角质80g+补水面膜10片）深层清洁 去黑头 去角质死皮 补水保湿</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                <tr>
                    <td>逆世界 i7升i9级八核十六线程/RX580 </td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>设计师专柜联名款-全国限量首发】【单/绒可选】NNP品牌定制 男鞋中高帮舒适缓震休闲鞋 深灰-单鞋 41运动码</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                <tr>
                    <td>欧莱雅男士控油炭爽抗黑头洁面套</td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>尊蓝男士洁面面膜套装（拉丝洗面奶120ml+去角质80g+补水面膜10片）深层清洁 去黑头 去角质死皮 补水保湿</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                <tr>
                    <td>逆世界 i7升i9级八核十六线程/RX580</td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>设计师专柜联名款-全国限量首发】【单/绒可选】NNP品牌定制 男鞋中高帮舒适缓震休闲鞋 深灰-单鞋 41运动码</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                <tr>
                    <td>欧莱雅男士控油炭爽抗黑头洁面套</td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>尊蓝男士洁面面膜套装（拉丝洗面奶120ml+去角质80g+补水面膜10片）深层清洁 去黑头 去角质死皮 补水保湿</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                <tr>
                    <td>逆世界 i7升i9级八核十六线程/RX580</td>
                    <td>2019-12-27</td>
                    <td>未获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-danger">删除</a></td>
                </tr>
                <tr>
                    <td>设计师专柜联名款-全国限量首发】【单/绒可选】NNP品牌定制 男鞋中高帮舒适缓震休闲鞋 深灰-单鞋 41运动码</td>
                    <td>2019-12-27</td>
                    <td>已获取</td>
                    <td><a href="javascript:void(0);" class="sui-btn btn-small btn-success">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="sui-row">
        <div class="span7"></div>
        <!--<div class="span2"></div>-->
        <div class="span3">
            <div class="sui-btn-group">
                <button class="sui-btn btn-bordered btn-primary">上一页</button>
                <button class="sui-btn btn-bordered btn-primary">1</button>
                <button class="sui-btn btn-bordered btn-primary">2</button>
                <button class="sui-btn btn-bordered btn-primary">3</button>
                <button class="sui-btn btn-bordered btn-primary">4</button>
                <button class="sui-btn btn-bordered btn-primary">5</button>
                <button class="sui-btn btn-bordered btn-primary">...</button>
                <button class="sui-btn btn-bordered btn-primary">下一页</button>
            </div>
        </div>
        <div class="span2">
            <span class="sui-text-">共15页</span>
            <span class="sui-text-">到第</span>
                <input type="text" placeholder="" style="width:40px;height:17px">
            <span class="sui-text-">页</span>
             <button class="sui-btn btn-bordered btn-primary">确认</button>

        </div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>
    <div class="sui-row">
        <div class="span1"></div>
    </div>

</div>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-simple-upload@0.1.6/dist/vue-simple-upload.min.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>
<script type="module" src="/static/js/lottery.js"></script>
</body>
</html>